@font-face {
  font-family: amiko;
  src: url("/static/fonts/amiko-regular.ttf");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header.mdl-layout__header.mdl-layout__header--scroll {
  background-color: black;
  box-shadow: 0 5px 25px 0 rgba(244, 244, 244, 0.1);

}

.mdl-layout__header-row {
  padding: 0 16px 0 30px;
}

body {
  background-color: black;
  color: white;
  font-family: "amiko", sans-serif;

}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: "amiko", sans-serif;
}

.mdl-layout__drawer-button {
  display: none;
}

.top-section {
  height: 100vh;
  background: url("images/mount.jpg");
  background-size: cover;


}

.top-head {
  top: 20%;
  position: relative;
}

.top-section h1, h3, h5 {
  text-align: center;
  margin-bottom: 20px;
}

.top-section h1 {
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  border-bottom: 2px solid whitesmoke;
  width: 50%;
  position: relative;
  margin-bottom: 30px;
  left: 25%;

}


.top-section h3 {
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

}

.top-section h5 {
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

}

.top-button {
  text-align: center;
  top: 55%;
  position: relative;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.top-button button {
  border: 2px whitesmoke solid;

}

.top-button a {
  padding: 20px;
  color: white;
  font-family: 'amiko', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.project-section {
  background-color: white;
  padding-bottom: 30px;

}

.project-section h3 {
  margin: 0;
  color: black;
}

.project-head {
  padding: 30px 0;
  background-color: white;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);

}

.skills-section {
  background-color: black;
  padding-bottom: 30px;

}

.skill-name {
  color: white;
  font-size: 1.163rem;
  font-weight: 600;
}

.skill-cell {
  margin: 20px auto;
  text-align: center;
}


.mdl-progress > .bufferbar {
  border-radius: 25px;
}

.mdl-progress {
  height: 20px;
  border-radius: 100px;
  margin: 10px auto auto;
}

.mdl-progress > .progressbar {
  background-color: #3F51B5;
  border-radius: 25px;
}

.skills-section h3 {
  margin: 0;
}

.skills-head {
  padding: 30px 0;
  background-color: black;
}

.progress-skill-wrapper {
  margin: auto;
}

.about-section {
  background-color: white;
  padding-bottom: 30px;


}

.about-section h3 {
  margin: 0;
  color: black;
}

.about-head {
  padding: 30px 0;
  background-color: white;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

.about-content {
  text-align: center;
}

.about-content h4 {
  color: black;
  margin-bottom: 20px;
}

.about-content h5 {
  color: black;
  margin-bottom: 30px;
}

.about-desc {
  color: black;
  padding: 0 150px;
  line-height: 2.5rem;
  font-size: 1.063rem;
}

.about-content img {
  width: 180px;
  margin: 30px 0;
  border-radius: 130px;
}

.contact-section {
  background-color: black;
  text-align: center;
}

.contact-section h3 {
  margin: 0;
}

.contact-head {
  padding: 30px 0;
  background-color: black;
}

.contact-content img {
  width: 60px;
}


.proj-card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25), -5px -5px 30px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.proj-card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.proj-card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.proj-card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -35px;
  background: gray;
  height: 35px;
  position: relative;
  opacity: 0.8;
}

.card_title p {
  padding: 8px 0;
  color: #f5f5f5a1;
  font-size: 1rem;
  letter-spacing: 2px;
}

.card_title a {
  text-decoration: none;
}

.proj-card .proj_desc {
  position: relative;
  text-align: center;
  bottom: 85%;
  margin: 0;
  font-style: italic;
  color: black;
  font-size: 1.1rem;
  visibility: hidden;
  height: 0;
}

.proj-card:hover .proj_desc {
  visibility: visible;
}

.proj-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25), -5px -5px 30px 0px rgba(0, 0, 0, 0.22);

}

.proj-card:hover img {
  opacity: 0.1;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.site-footer {
  margin-top: 90px;
  background-color: black;
}

.site-footer p {
  text-align: center;
  width: 100%;
}

.mdl-layout__content {
  flex: 1 0 auto;
}

#contact-form {
  margin-top: 100px;
}

#contact-form .mdl-textfield {
  width: 70%;
}

#contact-form .mdl-textfield__label {
  color: whitesmoke;
  text-align: center;
}

.contact-btn button {
  color: #ffffff9e;
  border-radius: 25px;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .about-desc {
    padding: 0 50px;
  }

}

@media screen and (max-width: 840px) {

  .mdl-layout__drawer-button {
    display: block;
  }

  .mdl-layout__header {
    display: none;
  }

  .top-section h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }

  .about-desc {
    padding: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  .contact-content img {
    width: 34px;
    margin-bottom: 20px;
  }

}
