{% extends "base.html" %}
{% block content %}
  <div class="top-section">
    <div class="top-head">
      <h1>Enigma</h1>
      <h3>Mystery is at the heart of creativity.</h3>
      <h5>Welcome to my website.</h5>
    </div>
    <div class="top-button">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <a>Know me more</a>
      </button>
    </div>
  </div>
  <div class="project-section">
    <div class="project-head">
      <h3>Projects</h3>
    </div>
  </div>

  <div class="skills-section">
    <div class="skills-head">
      <h3>Skills</h3>
    </div>
  </div>
  <div class="about-section">
    <div class="about-head">
      <h3>About Me</h3>
    </div>
  </div>
  <div class="contact-section">
    <div class="contact-head">
      <h3>Contact</h3>
    </div>
  </div>



{% endblock %}
